body {
  background-color: #d8ccdc;
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
.weather-app {
  background-color: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 30px 50px #41326414;
  border-radius: 16px;
}

.search-form-input {
      background-color: #d8ccdc;
      width: 400px;
      margin: 10px auto;
      padding: 12px;
      border: none;
      border-radius: 10px;
      margin-right: 5px;
      font-size: 18px;
}

.search-form-button {
    background-color: #5F2D79;
    margin: 10px auto;
      padding: 12px 16px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      color: white;
}

header {
    border-bottom: 1px solid #d8ccdc;
    padding: 0 0 30px 0;
}

footer {
    border-top: 1px solid #d8ccdc;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
}

a {
    color: #5F2D79;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 20px;
}

.weather-app-city {
    margin: 0;
    font-size: 35px;
    line-height: 35px;
}

.weather-app-details {
    font-size: 18px;
    line-height: 20px;
}

.weather-app-details strong {
    color: #FF4F83;
}

.weather-app-container {
    display: flex;
}

.weather-temperature {
    font-size: 70px;
    font-weight: bold;
}

.weather-icon {
    width: 90px;
}

.weather-unit {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.weather-forecast {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.weather-forecast-day {
    text-align: center;
}

.weather-forecast-date {
    font-size: 17px;
}

.weather-forecast-temperatures {
    display: flex;
}